{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                <h2>{{ book_detail.name }}</h2>
                <p>Автор: {{ book_detail.author }}</p>
                <p>Дата публикации: {{ book_detail.pub_date }}</p>
            </div>
        </div>
    </div>
{% endblock %}